/* steps layout 1100px 700px 600px */

/* 
reset  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
general 
*/

/* 
main  
*/

#top {
    display: flex;
    height: calc(100vh - 100px);
    
}

.container-main-left {
    background-color: black;
    width: 200px;
    display: flex;
    flex-direction: column;
    min-height: 350px;
}

.menu-home nav ul li a {
    text-decoration: none;
    color: #86888c;
    display: flex;
    align-items: center;
}

.menu-home nav ul li a > span {
    padding-left: 10px;
}

.logo {
    max-width: 200px;
    padding: 20px 10px 10px;  
}

.logo-small {
    display: none;
}

.cerca > a img ,
.library > a img {
    max-width: 40px;
    padding-left: 10px;
}

.home {
    border-left: 3px solid lightgreen;
    padding-left: 8px;
    max-width: 40px;
}

#top .container-main-left-central {
    flex-grow: 1;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.container-main-left-central h4 {
    color: white;
    padding-bottom: 10px;
   
}

.container-main-left-central .more-playlist {
    color: #86888c; 
    display: flex;
    align-items: center;
}

.container-main-left-central .more-playlist i {
    font-size: 40px; 
    padding-right: 10px;
}

.container-main-left-central nav {
    flex-grow: 1;
    overflow: auto;
}

.container-main-left-central nav ul li {
    padding-top: 10px;
}

.container-main-left-central nav ul li a {
    text-decoration: none;
    color: #86888c;
}


.container-main-left-bottom div  {
    margin: 5px 10px;
}

.container-main-left-bottom div a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.download  {
    border-bottom: 1px solid #86888c;
}

.download > a img {
    max-width: 20px;
}

.download > a span {
    font-size: 10px;
    padding-left: 10px;
    color: #86888c;
}

.profile > a span {
    font-size: 15px;
    color: white;
    padding-left: 10px;
}

.profile > a img {
    max-width: 30px;
    border-radius: 50%;
    background-color: #86888c;
    object-fit: cover;


}

.container-main-right {
    background-color: #141922;
    width: calc(100% - 200px);
    overflow-y: auto;
    
}

#top .container-main-right > * {
    margin-bottom: 20px;
}

header {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px; 
}

.container-main-right nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-main-right nav ul li a {
    text-decoration: none;
    padding: 10px 10px;
    color: #86888c;
}

.container-main {
    padding: 0 10px;
}
 
.container-main > h4 {
    padding-bottom: 20px ;
}

.container-main > h2 {
    padding: 20px 0 15px;
}


.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-col {
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

.my-col > * {
    padding-bottom: 15px;
    text-align: center;
    
}

.my-col img {
    width: 100%;
    margin-bottom: -4px;
    object-fit: cover;
}

.my-col h4 ,
.container-main > h2 {
    color: white;
}

.my-col h5 ,
.container-main > h4 {
    color: #86888c;
}

.last-container-main .my-row .my-col img {
    border-radius: 50%;
}

/* .container-main-right nav ul li > a:first-child {
    border-bottom: 2px solid green;
} */

/* 
footer  
*/

#bottom {
    position: relative;
    z-index: 1;
}

.container-footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.container-footer-left {
    display: flex;
    align-items: center;
    
}

.container-footer-left div img {
    width: 50px;
    margin: 10px;
}

.container-footer-left .brano-riproduction  {
    margin-right: 20px;
}

.container-footer-left .brano-riproduction h3 {
    color: white;
    font-size: 15px;
}

.container-footer-left .brano-riproduction h4 {
    color: #86888c;
    font-size: 10px;
}

.container-footer-left > i {
    color: #86888c;
    padding-left: 10px; 
}

.container-footer-central-top {
    display: flex;
    justify-content: center;
    padding: 20px ;
}

.container-footer-central-top i {
    padding: 0 15px;
    color: white;
}

.container-footer-central div:first-child {
    display: flex;
    align-items: center;
}

.container-footer-central-bottom  {
    display: flex;
    align-items: center;

}


.container-footer-central-bottom .barra-central {
    width: 20vw;
    margin: 0 20px;
    height: 5px;
    border-radius: 30px;
    background-color: #86888c;

}

.container-footer-central-bottom .barra-central div {
    width: 4vw;
    height: 5px;
    border-radius: 30px;
    background-color: white;
    position: relative;
}

.container-footer-central-bottom .time-riproduction {
    font-size: 15px;
    color: white;
}

.container-footer-right  {
    display: flex;
    align-items: center;
}

.container-footer-right > * {
    margin-right: 10px;
    color: white;
}


.barra {
    width: 6vw;
    background-color: #86888c;
    height: 5px;
    border-radius: 30px;
}

.barra div {
    width: 2vw;
    background-color: white;
    height: 5px;
    border-radius: 30px;
    position: relative;
}



/* 
Hover  
*/

.menu-home nav ul li a > span:hover ,
.container-main-left-central .more-playlist:hover ,
.container-main-left-central nav ul li a > span:hover ,
.container-main-left-bottom .download a > span:hover , 
.container-main nav ul li a:hover ,
.brano-riproduction h4:hover ,
.container-footer-left > i:hover {
    color: white;
    cursor: pointer;
}

header div > a:hover {
    font-size: 20px;
    cursor: pointer;
}

.container-footer-central-top i:nth-child(3):hover {
    cursor: pointer;
    font-size: 35px;
} 

.barra div:hover,
.barra-central div:hover {
    background-color: green;
}

.barra-central:hover div:after ,
.barra:hover div:after {
    content: "";
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}


/* .my-col:hover + img  {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
} */


/* 
responsive 
*/



@media screen and (max-width: 1100px) {
    .my-col {
        width: calc((100% / 4) - 20px);
    
    }

    
}

@media screen and (max-width: 700px) {
    .my-col {
        width: calc((100% / 2) - 20px);
    }


    
}

@media screen and (max-width: 600px) {
    #top > .container-main-left{
        width: 50px;
    }

    #top > .container-main-right{
        width: calc(100% - 50px);
    }

    .logo {
        display: none;
    }
    
    .logo-small {
        display: block;
        padding: 20px 10px 10px;
        max-width: 70px;
    }

    .menu-home nav ul li a > span {
        display: none;
    }

    .container-main-left-central > * ,
    .container-main-left-central .more-playlist {
        display: none;
    }

    .container-main-left-bottom div a > span {
        display: none;
    }

    .container-main-left-bottom .download {
        border: none;
    }



    
}

/* 
fare hover alle immagini
fare trattino verde sotto IN EVIDENZA
*/