/* steps layout 1100px 700px 600px */

/* 
reset  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
general 
*/

/* 
header  
*/

/* 
main  
*/

#top {
    display: flex;
    height: calc(100vh - 100px);
    
}

.container-main-left {
    background-color: lightcyan;
    width: 200px;
    padding-top: 20px;
}

.logo {
    max-width: 100px;
    padding-left: 10px;
}

.menu-home div  {
    display: flex;
    align-items: center;
}

.home > img ,
.cerca > img ,
.library > img {
    max-width: 30px;
    padding-left: 10px;
}

.home {
    border-left: 3px solid green;
}

.container-main-right {
    background-color: #141922;
    width: calc(100% - 200px);
    overflow-y: auto;
    
}

#top .container-main-right > * {
    margin-bottom: 20px;
}

header {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 25px; 
}

.container-main-right nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-main-right nav ul li a {
    text-decoration: none;
    padding: 10px 10px;
    color: #86888c;
}

.container-main {
    padding: 0 10px;
}
 
.container-main > h4 {
    padding-bottom: 20px ;
}

.container-main > h2 {
    padding: 20px 0 15px;
}


.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-col {
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

.my-col > * {
    padding-bottom: 15px;
    text-align: center;
    
}

.my-col img {
    width: 100%;
    margin-bottom: -4px;
    object-fit: cover;
}

.my-col h4 ,
.container-main > h2 {
    color: white;
}

.my-col h5 ,
.container-main > h4 {
    color: #86888c;
}

.last-container-main .my-row .my-col img {
    border-radius: 50%;
}

/* .container-main-right nav ul li > a:first-child {
    border-bottom: 2px solid green;
} */

/* 
footer  
*/

.container-footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.container-footer-left {
    display: flex;
    align-items: center;
    
}

.container-footer-left div img {
    width: 50px;
    margin: 10px;
}

.container-footer-left .brano-riproduction  {
    margin-right: 20px;
}

.container-footer-left .brano-riproduction h3 {
    color: white;
    font-size: 15px;
}

.container-footer-left .brano-riproduction h4 {
    color: #86888c;
    font-size: 10px;
}

.container-footer-left i {
    color: #86888c;
    padding-left: 10px; 
}

.container-footer-central-top {
    display: flex;
    justify-content: center;
    padding: 20px ;
}

.container-footer-central-top i {
    padding-left: 20px;
    color: white;
}

.container-footer-central div {
    display: flex;
    align-items: center;
}


.container-footer-central-bottom .barra-central {
    width: 20vw;
    margin: 0 20px;
}

.container-footer-central-bottom .barra-central div {
    width: 4vw;
}

.container-footer-central-bottom .time-riproduction {
    font-size: 15px;
    color: white;
}

.container-footer-right  {
    display: flex;
    align-items: center;
}

.container-footer-right > * {
    margin-right: 10px;
    color: white;
}


.barra {
    width: 6vw;
    background-color: #86888c;
    height: 5px;
    border-radius: 30px;
}

.barra div {
    width: 1vw;
    background-color: white;
    height: 5px;
    border-radius: 30px;
}




/* 
responsive 
*/



@media screen and (max-width: 1100px) {
    .my-col {
        width: calc((100% / 4) - 20px);
    
    }

    
}

@media screen and (max-width: 700px) {
    .my-col {
        width: calc((100% / 2) - 20px);
    }


    
}

@media screen and (max-width: 600px) {
    #top > .container-main-left{
        width: 50px;
    }

    #top > .container-main-right{
        width: calc(100% - 50px);
    }

    
}